<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Gestion des salariés</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/font-awesome.css">
</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="http://localhost:8080/">Gestion des salariés</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li><a href="http://localhost:8080/salaries?page=0&amp;size=10&amp;sortProperty=nom&amp;sortDirection=ASC"
                            class="nav-link">Liste des salariés <span th:text="${salarieCount}"
                                class="badge badge-primary"></span></a></li>
                </ul>

                <form class="form-inline my-2 my-lg-0" role="search" action="http://localhost:8080/salaries"
                    method="GET">
                    <div class="form-group form-inline">
                        <input name="nom" class="form-control" placeholder="Rechercher un nom" type="text">
                    </div>
                    <button type="submit" class="btn btn-outline-success ml-2 my-2 my-sm-0">Rechercher</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="container">
        <div th:text="#{msg.salarie}"></div><!-- TODO better messages example -->

        <h2>Détail du salarié</h2>

        <form id="saveForm" action="/salaries/{id}" method="post" class="row" th:object="${salarie}">
            <input type="hidden" th:field="*{id}" th:value="${id}" />        

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label" for="id">ID</label>
                    <div th:if="${salarie.id == null}">
                        <p>Ce salarié n'existe pas.</p>
                      </div>
                    <input type="text" th:value="${salarie.id}" class="form-control" name="id" id="id"
                        disabled="true">

                    <label class="form-control-label" for="nom">Nom</label>
                    <input type="text" th:value="${salarie.nom}" class="form-control" name="nom" id="nom">

                    <label class="form-control-label" for="moisEnCours">moisEnCours</label>
                    <input type="date" th:value="${salarie.moisEnCours}" class="form-control" name="moisEnCours"
                        id="moisEnCours">

                </div>
            </div>

            <div class="col-lg-6">

                <div class="form-group">
                    <label class="form-control-label"
                        for="joursTravaillesAnneeNMoins1">joursTravaillesAnneeNMoins1</label>
                    <input type="number" th:value="${salarie.joursTravaillesAnneeNMoins1}" class="form-control"
                        name="joursTravaillesAnneeNMoins1" id="joursTravaillesAnneeNMoins1">

                    <label class="form-control-label" for="moisDebutContrat">moisDebutContrat</label>
                    <input type="date" th:value="${salarie.moisDebutContrat}" class="form-control"
                        name="moisDebutContrat" id="moisDebutContrat">

                    <label class="form-control-label"
                        for="congesPayesAcquisAnneeNMoins1">congesPayesAcquisAnneeNMoins1</label>
                    <input type="number" th:value="${salarie.congesPayesAcquisAnneeNMoins1}" class="form-control"
                        name="congesPayesAcquisAnneeNMoins1" id="congesPayesAcquisAnneeNMoins1">

                    <label class="form-control-label"
                        for="congesPayesPrisAnneeNMoins1">congesPayesPrisAnneeNMoins1</label>
                    <input type="number" th:value="${salarie.congesPayesPrisAnneeNMoins1}" class="form-control"
                        name="congesPayesPrisAnneeNMoins1" id="congesPayesPrisAnneeNMoins1">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-6">
                <ul class="list-group list-unstyled">
                    <li class="alert alert-danger" role="alert">Erreur dans un champ !</li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6">
                <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
                <form method="POST" action="/salaries/{id}/delete">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce salarié ?')" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>

        <div class="row">
            <table>
                <tr>
                    <td class="alert alert-danger" role="alert">Erreur de type de données !</td>
                </tr>
            </table>
            <div>Erreur globale spécifique !</div>
        </div>
    </div>


</body>

</html>